<html>
	<head>
		<title>Django World blog</title>
	</head>
	<body>
		<div>
			<h1 align = 'center'><a href="/">My Django blog haha lmao XDXDXD</a></h1>
		</div>
		<div>
			<p align = 'center'>published: 28.04.2022, 13:55</p>
			<h2 align = 'center'><a href="/">My first post!! Check it out ;З</a></h2>
			<p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis
vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellu
s ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit
amet risus.</p>
		</div>
		
		<div>
			<p align = 'right'>published: 28.04.2022, 13:56</p>
			<h2 align = 'center'><a href="">My second post!! Don't check it pls :,C</a></h2>
			<p>Aliquam efficitur felis quis turpis convallis, vitae auctor eros convallis.
Proin ut magna eu ipsum dapibus ullamcorper quis id elitю
orbi pretium tincidunt vulputate. Praesent dolor lacus,
ultrices non condimentum nec, ultrices non purus. Integer a mauris dui.
Donec aliquet libero vitae lorem mollis malesuada.</p>
			<p align = 'right'>published: 28.04.2022, 13:59</p>
		</div>
	</body>
</html>